
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --light-gray: hsl(0, 0%, 98%);
}



/* Global Style */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Poppins', sans-serif;
    background: var(--light-gray);
}
/* Header style */

header{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
}
header h2{
    margin: 50px 0 20px;
    color: var(--grayish-blue);
    font-weight: 100;
}
h2 span{
    color: var(--dark-blue);
    font-weight: 600;
}
p{
    color: var(--grayish-blue);
    line-height: 1.5;
}

/* Container Style */

.container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 100px;
}

/* Box style */

.container .box{
    width: 350px;
    margin: 15px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 20px 20px rgba(201, 211, 216, 0.5);
    background: white;
    font-size: 15px;
    position: relative;
}

/* Box content Style */

.box p{
    margin: 15px 0 30px;
}
.box img{
    float: right;
}
.box h2{
    color: var(--dark-blue);
}
.supervisor, .karma{
    transform: translatey(50%);
}

/* Box::before for individual border color */

.box::before{
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px 100px 0 0;
}
.supervisor::before{
    background: var(--cyan);
}
.karma::before{
    background: var(--blue);
}
.calculator::before{
    background: var(--orange);
}
.builder::before{
    background: var(--red);
}

/* Responsive Style */

@media (max-width: 500px){
    .supervisor,.karma{
        transform: translateY(0)
    }
}
@media (max-width: 760px){
    .supervisor,.karma{
        transform: translateY(0)
    }
}
@media (max-width: 1139px){
    .supervisor,.karma{
        transform: translateY(0)
    }
}
